.list-panel {
    background-color: var(--p-dark);
    display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;
    margin: 40px;
    padding: 20px;
    border-radius: 8px;
    color: var(--text-on-color);
    font-size: 3em;
    cursor: pointer;
}

.panel-text {
    overflow-wrap: break-word;
}



