
.task-item {
    cursor: pointer;
    transition: border-top-left-radius 0s;
    transition: border-top-right-radius 0s;
    transition: background-color 1s;
}

.task-item .task-category {
    margin-left: 2rem;
}

.task-item:hover {
    background-color: var(--hover-accent);
}