:root {
    --p-main: #4dd0e1;
    --p-light: #88ffff;
    --p-dark: #009faf;
    --s-main: #80cbc4;
    --s-light:#b2fef7;
    --s-dark:#4f9a94;
    --text-on-color: #2b2a2a;
}

body {
    background-color: var(--p-light);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    width: 100%;
}